.terms {
  color: gray;
  list-style: none;
  padding-left: 0;
  margin-left: 8px;
  margin-right: 8px; }
  .terms .term {
    margin-bottom: 2rem; }
    .terms .term .written-form a {
      color: darkturquoise;
      font-size: 175%;
      font-weight: bold; }
      .terms .term .written-form a:not(:hover) {
        text-decoration: none; }
    .terms .term .pronunciation {
      color: lightgray;
      margin-left: .5rem; }
    .terms .term .source,
    .terms .term .since,
    .terms .term .synonyms,
    .terms .term .synonyms a {
      color: darkgray;
      font-size: 80%; }
    .terms .term .definition {
      font-size: 150%;
      margin-top: .25rem;
      margin-bottom: .25rem; }
