@import 'fonts';

.terms {
  color: gray;
  list-style: none;
  padding-left: 0;
  .term {
    margin-bottom: 2rem;
    .written-form {
      a {
        color: darkturquoise;
        font-size: 175%;
        font-weight: bold;
        &:not(:hover) {
          text-decoration: none;
        }
      }
    }
    .pronunciation {
      color: lightgray;
      margin-left: .5rem;
    }
    .source,
    .since,
    .synonyms,
    .synonyms a {
      color: darkgray;
      fint-size: 80%;
    }
    .definition {
      font-size: 150%;
      margin-top: .25rem;
      margin-bottom: .25rem;
    }
  }
}