@import 'variables';
@import 'terms-m-l-xl';

.terms {
  color: gray;
  list-style: none;
  padding-left: 0;
  .term {
    border-bottom: 1px solid $lighterGray;
    padding: 0 $bodyMargin 2rem;
    margin-top: 2rem;
    .written-form {
      a {
        color: rgb(12, 157, 191);
        font-size: 175%;
        font-weight: bold;
        &:not(:hover) {
          text-decoration: none;
        }
      }
    }
    .pronunciation {
      color: lightgray;
      margin-left: .5rem;
    }
    .source,
    .since,
    .synonyms,
    .synonyms a {
      color: darkgray;
      font-size: 80%;
    }
    .translations {
      padding-left: 0;
    }
    .definition {
      font-size: 150%;
      margin-top: .25rem;
      margin-bottom: .25rem;
    }
  }
}