@import 'variables';

@media(min-width: $breakpointMedium) {

  .terms {
    .term-head, .term-body {
      display: inline-block;
      vertical-align: top;
    }
    .term-head {
      width: 150px - $bodyMargin;
      margin-right: $bodyMargin;
    }
  }

}